{% extends "core/base.html" %}

{% block title %}حذف مشتری{% endblock %}
{% block page_title %}حذف مشتری{% endblock %}

{% block content %}

<div class="card-custom" style="max-width:600px; margin:auto;">

    <h5 class="mb-3" style="font-weight:600;">حذف مشتری</h5>

    <p class="text-muted" style="font-size:0.9rem;">
        آیا مطمئن هستید که می‌خواهید مشتری  
        <strong>{{ customer.name }} {{ customer.last_name }}</strong>
        با کد  
        <strong>{{ customer.customer_code }}</strong>
        را حذف کنید؟
    </p>

    <form method="post" action="{% url 'customers:customer_delete' customer.pk %}">
        {% csrf_token %}

        <div class="d-flex gap-2 mt-4">
            <button type="submit" class="btn-delete">
                <i data-feather="trash-2"></i>
                حذف مشتری
            </button>

            <a href="{% url 'customers:customer_list' %}" class="btn-edit">
                <i data-feather="x"></i>
                انصراف
            </a>
        </div>
    </form>

</div>

{% endblock %}
